* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.slider-container {
  margin: 10px auto;
  width: 800px;
  height: 400px;
  position: relative;
}
.slider-container img {
  position: absolute;
  opacity: 0;
  transition: 1s;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.slider-container img.active {
  opacity: 1;
}
.slider-container .slide-number {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #40e0d0a8;
  padding: 5px 10px;
  font-size: 20px;
  z-index: 2;
  border-radius: 8px;
}
.slider-control {
  width: 800px;
  margin: auto;
  overflow: hidden;
}
.slider-control .prev,
.slider-control .next {
  background-color: turquoise;
  color: white;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  padding: 5px;
  user-select: none;
  width: 20%;
}
.slider-control .prev {
  float: left;
}
.slider-control .next {
  float: right;
}
.slider-control .prev.disabled,
.slider-control .next.disabled {
  cursor: no-drop;
  background-color: #40e0d073;
}
.slider-control .indicators {
  width: 60%;
  float: left;
}
.slider-control .indicators ul {
  margin: 0;
  list-style: none;
  text-align: center;
}
.slider-control .indicators ul li {
  display: inline-block;
  background-color: whitesmoke;
  color: #333;
  font-weight: bold;
  height: 28px;
  width: 28px;
  border-radius: 8px;
  margin: 0 2px;
  line-height: 28px;
  cursor: pointer;
}
.slider-control .indicators ul li.active {
  background-color: turquoise;
  color: white;
}
